body{
   background: linear-gradient(to right, #ffdde1, #ee9ca7);
   font-family: 'Pacifico', cursive;
   
}
nav h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 550;
  font-style: italic;
  text-align: center;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
nav p {
  font-family: 'Pacifico', cursive;
  font-weight: 550;
  font-style: italic;
  text-align: center;
  font-size: 30px;
  padding-left: 200px;
}
nav{
  padding-bottom: 50px;
}

.card3d {
  
  border-radius: 20px;
  width:40%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.card3d:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.card3d1{
  
  font-size: 25px;
}
.image1{
  width: 300px;
  height: 400px;
  border-radius: 50%;
}
.section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.intro{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 60px;
}
.intro p{
   letter-spacing: 1px;
   font-size: 23px;
}

.image2{
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

 
}
.image2 {
   width: 300px;
  height: 400px;
  border-radius: 50%;
}
.para1 p{
  letter-spacing: 1px;
  margin: 60px;
  font-size: 22px;
}

.image3 img{
  width: 600px;
  height: 400px;
  border-radius: 30px;
}
.image3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image4{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.image4 img{
  width: 400px;
  height: 400px;
  border-radius: 50px;
}

.image5 img{
   width: 300px;
   height: 400px;
   border-radius: 30px;
}

.card3d2 {
  
  border-radius: 20px;
  width:60%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-left: 250px;
  align-items: center;
  justify-content: center;
  max-height: 170px;
}
.card3d2 p{
  font-size: 25px;
  padding-bottom: 5px;
}

.card3d2:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.conclusion{
  margin: 60px;
  font-size: 23px;
}